<ion-view view-title="Welcome">
  <ion-nav-bar class="green-nav">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="green-nav button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <div class="tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs hometabs">
      <a ng-repeat="button in buttons" ng-class="{'active': $index === current}" ng-click="slide($index)" class="tab-item">{{ button.name }}</a>

    </div>
  </div>

  <ion-pane>
    <ion-content scroll="false" class="has-tabs-top">

      <div class="homepage-slider">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" slide-interval="1000" does-continue="true" show-pager="false">

          <ion-slide>

            <ion-content scroll="true">
              <div class="home datavisual container">
                <div>
                  <div class="agency-half"><span class="data-header">{{myData.length}}</span>Open</div>
                  <div class="agency-half"><span class="data-header">{{500 - myData.length}}</span> Completed</div>
                </div>

                <div class="row1 graphs">
                  <div id="chartone" class="halfwidth"></div>
                  <div id="charttwo" class="halfwidth"></div>
                </div>

                <div id="chartfour" class="smallergraph"></div>

                <div class="row2 graphs">
                  <div id="chartthree" class="fullwidth"></div>
                </div>

                <div class="row2 graphs">
                  <div id="chartfive" class="fullwidth"></div>
                </div>

                <div class="row2 graphs">
                  <div id="chartsix" class="fullwidth"></div>
                  <button ng-click="showHousing()">Housing</button>
                  <button ng-click="showMedical()">Medical</button>
                  <button ng-click="showEmployment()">Employment</button>
                  <button ng-click="showServices()">Services</button>
                </div>

                <div class="row2 graphs">
                  <div id="chartseven" class="fullwidth"></div>
                  <button ng-click="showMonth()">Jan</button>
                  <button ng-click="showMonth()">Feb</button>
                  <button ng-click="showMonth()">Mar</button>
                  <button ng-click="showMonth()">Apr</button>
                  <button ng-click="showMonth()">May</button>
                  <button ng-click="showMonth()">Jun</button>
                  <button ng-click="showMonth()">Jul</button>
                  <button ng-click="showMonth()">Aug</button>
                  <button ng-click="showMonth()">Sep</button>
                  <button ng-click="showMonth()">Oct</button>
                  <button ng-click="showMonth()">Nov</button>
                  <button ng-click="showMonth()">Dec</button>
                </div>
              </div>
            </ion-content>


          </ion-slide>

          <ion-slide>

            comparison

          </ion-slide>

          <ion-slide>

            reports

          </ion-slide>



        </ion-slide-box>
      </div>

    </ion-content>
  </ion-pane>
</ion-view>
