<ion-modal-view data-ng-controller="manageMedicalCtrl" hide-nav-bar="true" class="addservice" scroll="false">
  <ion-content class="addservicemodal" scroll="true">

<div class="container modal-server">
    <ul>
      <li ng-repeat="program in MedicalProg">

        <button ng-click="addServices({{clientInfo.UserID}}, $index)" class="service-button">
          <p class="program-name2">{{program.Service}}</p><p>{{program.Description}}</p>
        </button>
      </li>
    </ul>
</div>
  </ion-content>
<button class="closewindow" ng-click="closeMedicalPanel()">Close Window</button>
</ion-modal-view>
