<ion-view view-title="Casefiles">
  <ion-nav-bar class="green-nav">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="green-nav button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

<!--
  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a ng-repeat="button in buttons" ng-class="{'active': $index === current}" ng-click="slide($index)" class="tab-item">{{ button.name }}</a>

    </div>
  </div>
-->
  <ion-pane>
    <ion-content scroll="false" class="">

      <div class="casefiles-slider">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" slide-interval="1000" does-continue="true" show-pager="false">

          <ion-slide>

            <div class="casefile-search-box">
              <div class="item item-input-inset">
                <label class="search-input-wrapper">
                  <input type="text" placeholder="Type a message...">
                </label>
                <button class="button group-button">
                  <i class="icon ion-grid"></i>
                </button>
                <button class="button list-button">
                  <i class="icon ion-android-menu"></i>
                </button>
                <button class="button list-button">
                  <i class="icon ion-ios-settings-strong"></i>
                </button>
              </div>
            </div>

            <ion-content scroll="true" class="casefiles-container" delegate-handle="messages">
              <div class="">

                <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

                  <ion-item ng-repeat="item in messages" item="item" href="#/item/{{item.id}}" class="profile-messages-list">
                    <span class="message-name">{{ item.id }}</span>
                    <span class="message-date float-right">{{ item.date}}</span>
                    <p class="message-content">{{ item.description }}</p>
                    <ion-delete-button class="ion-minus program-delete-button" ng-click="onItemDelete(item)">
                    </ion-delete-button>
                  </ion-item>

                </ion-list>

              </div>
            </ion-content>



          </ion-slide>

          <ion-slide>
            2
          </ion-slide>

          <ion-slide>
            3
          </ion-slide>

        </ion-slide-box>
      </div>

    </ion-content>
  </ion-pane>
</ion-view>
