<ion-view view-title="Data Analysis">
  <ion-nav-bar class="green-nav">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="green-nav button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <div class="tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs hometabs">
      <a ng-repeat="button in buttons" ng-class="{'active': $index === current}" ng-click="slide($index)" class="tab-item">{{ button.name }}</a>

    </div>
  </div>

  <ion-pane>
    <ion-content scroll="false" class="has-tabs-top">

      <div class="homepage-slider">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" slide-interval="1000" does-continue="true" show-pager="false">

          <ion-slide>

            <ion-content scroll="true">
              <div class="home datavisual container">
                <div class="row">
                  <div class="col"><div class="agency-half"><span class="data-header">{{agencyCases}}</span>Open Cases</div></div>
                  <div class="col"><div class="agency-half"><span class="data-header">{{myData.length - agencyCases}}</span> Completed</div></div>
                </div>

                <div class="">
                  <div id="achartone" class="half"></div>
                  <div id="acharttwo" class="half"></div>
                </div>

                <div class="">
                  <div id="achartfour" class="half"></div>
                  <div id="achartfour" class="half"></div>
                </div>


                <div class="row2 graphs">
                  <div id="achartthree" class="fullwidth"></div>
                </div>

                <div class="row2 graphs">
                  <div id="achartfive" class="fullwidth"></div>
                </div>
              </div>
            </ion-content>


          </ion-slide>

          <ion-slide>

            comparison

          </ion-slide>

          <ion-slide>

            reports

          </ion-slide>



        </ion-slide-box>
      </div>

    </ion-content>
  </ion-pane>
</ion-view>
