<ion-view view-title="Welcome">
  <ion-nav-bar class="green-nav">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="green-nav button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <div class="tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs hometabs">
      <a ng-repeat="button in buttons" ng-class="{'active': $index === current}" ng-click="slide($index)" class="tab-item">{{ button.name }}</a>

    </div>
  </div>

  <ion-pane>
    <ion-content scroll="false" class="has-tabs-top">

      <div class="homepage-slider">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" slide-interval="1000" does-continue="true" show-pager="false">

          <ion-slide>


            <div class="agencyhome">

              <ion-content scroll="false" class="agency-content">
                <div class="agency-content">
                  <span class="welcomeheader h2">St. Patrick Center</span>
                  <div class="agency-image">
                    <img class="agency-image2" src="img\header.jpg">
                  </div>
                </div>



                <div class="button-background">
                <div class="home viewclients1"><a ng-href="#/app/agency/allclients" class="home center"><span class="lnr lnr-users"></span>View Clients</a></div>
                <div class="home agencystatus1"><a ng-href="#/app/agency/status" class="home center"><span class="lnr lnr-apartment"></span>Agency Status</a></div>
                <div class="home datareports1"><a ng-href="#/app/agency/data" class="home center"><span class="lnr lnr-chart-bars"></span>Data Reports</a></div>
                </div>




                <div class="home createnew">

                  <div class="custbutton">
                  <a ng-href="#/app/agency/newentry" class="home center">Create New Client</a>
                </div>

                </div>
                <div class="center">
<div class="button-background2">
                  <div class="home viewclientss"><a ng-href="#/app/agency/allclients" class="home center"><span class="lnr lnr-exit"></span>Logout</a></div>
                  <div class="home agencystatuss"><a ng-href="#/app/agency/status" class="home center"><span class="lnr lnr-cog"></span>Settings</a></div>
</div>
                </div>

              </ion-content>

            </div>
          </ion-slide>

          <ion-slide>




            <div class="agencyhome">

              <ion-content scroll="false" class="agency-content">
                <div class="agency-content2">

                  <div class="agency-imagee">
                    <img class="agency-image5" src="img\arch.jpg">
                  </div>
                </div>



                <div class="button-background">
                <div class="home viewclients1"><a ng-href="#/app/coc/funding" class="home center"><span class="lnr lnr-magic-wand"></span>Funding</a></div>
                <div class="home agencystatus1"><a ng-href="#/app/coc/allclients" class="home center"><span class="lnr lnr-users"></span>View Clients</a></div>
                <div class="home datareports1"><a ng-href="#/app/coc/data" class="home center"><span class="lnr lnr-chart-bars"></span>Data Reports</a></div>
                </div>




                <div class="home createnew">

                  <div class="custbutton">
                  <a ng-href="#/app/coc/shelters" class="home center">Emergency Shelters</a>
                </div>

                </div>

              </ion-content>

            </div>



          </ion-slide>


        </ion-slide-box>
      </div>

    </ion-content>
  </ion-pane>
</ion-view>
