<ion-view view-title="Welcome">
  <ion-nav-bar class="green-nav">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="green-nav button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <div class="tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs hometabs">
      <a ng-repeat="button in buttons" ng-class="{'active': $index === current}" ng-click="slide($index)" class="tab-item">{{ button.name }}</a>

    </div>
  </div>

  <ion-pane>
    <ion-content scroll="false" class="has-tabs-top">

      <div class="homepage-slider">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" slide-interval="1000" does-continue="true" show-pager="false">

          <ion-slide>


            <div class="agencyhome">

              <ion-content scroll="true" class="agency-content">
                <div class="agency-content">
                  <div class="agency-image">
                    <img class="agency-image2" src="img\header.jpg">
                  </div>
                </div>

                <div class="container">

                  <h3>We have good news to share!</h3>
                  <p>A housing client who has been fighting drug addiction for more than 20 years has been clean for six weeks.</p>

                  <p>Two of our employment clients are doing so well in their jobs as dishwashers that employer Washington University is asking for more like them.</p>
                  <p>A housing client completed her Associates Degree and graduated. Our veteran program teams assisted more than 600 veterans at the recent Warrior Summit/Stand Down event.</p>
                  <p>Six McMurphy’s Café clients successfully completed the ServSafe food handler class.</p>
                  <p>A former client/employment program graduate donated to St. Patrick Center on Give STL Day.</p>
                  <p>Housing and health teams collaborated to help a client get correct Social Security pay as well as bus
                  tickets to get to her appointments.</p>
                  <p>Thanks to Lawrence Tate for recommending St. Patrick Center when he picked up donations at the downtown Hilton. The hotel hired 12 of our clients to change out mattresses in their hotel rooms.</p>

                  <p><h5>Thanks to Andria Carroll, Maureen Hentz, Mary Kitley, Linda Lipa, Parker Nanney, Shawn Thomason & Calvin Yancey for sharing the good news.</h5></p>

                </div>

              </ion-content>

              <ion-content class="agency-buttons5" scroll="false">
                <div class="home createnew"><a ng-href="#/app/agency/newentry" class="home center">Create New Client</a></div>
                <div class="button-background">
                <div class="home viewclients"><a ng-href="#/app/agency/allclients" class="home center">View Clients</a></div>
                <div class="home agencystatus"><a ng-href="#/app/agency/status" class="home center">Agency Status</a></div>
                <div class="home datareports"><a ng-href="#/app/agency/data" class="home center">Data Reports</a></div>
              </div>
              </ion-content>
            </div>
          </ion-slide>

          <ion-slide>

            <div class="agencyhome">
              <div class="hmis-content">
                Content
              </div>

              <ion-content class="agency-buttons2" scroll="false">
                <div class="home createnew"><a ng-href="#/app/coc/shelters" class="home center">Emergency Shelters</a></div>
                <div class="button-background">
                <div class="home agencystatus"><a ng-href="#/app/agency/functional0" class="home center">Functional 0</a></div>
                <div class="home viewclients"><a ng-href="#/app/coc/allclients" class="home center">View Clients</a></div>
                <div class="home datareports"><a ng-href="#/app/coc/data" class="home center">Data Reports</a></div>
              </div>
              </ion-content>


            </div>

          </ion-slide>


        </ion-slide-box>
      </div>

    </ion-content>
  </ion-pane>
</ion-view>
