<ion-view hide-nav-bar="true">
<!--
  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a ng-repeat="button in buttons" ng-class="{'active': $index === current}" ng-click="slide($index)" class="tab-item">{{ button.name }}</a>

    </div>
  </div>
-->
  <ion-pane>

      <ion-content class="loginpage" scroll="false">
        <div class="container logincon">
          <span class="loginwelcome">Welcome</span>
        <form ng-submit="doLogin()">
          <div class="list">
            <label class="item item-input login">
              <span class="input-label login">Username</span>
              <input type="text" ng-model="loginData.username">
            </label>
            <label class="item item-input login">
              <span class="input-label login">Password</span>
              <input type="password" ng-model="loginData.password">
            </label>
              <button class="button button-block login" type="submit">Log in</button>
          </div>
        </form>
      </div>
      </ion-content>

  </ion-pane>
</ion-view>
