/*-

.001 General Styles
.001 Login Page
.003 Home Page
.004 Profile Page

*/

.activated {
  background-color: #455445;
  color: #fff;
}

.h4 {
  font-weight: 500;
}

.menu .scroll-content {
    z-index: 10;
    background-color: #4d9a50;
    top: 100px;
}

.lsidemenu > .list > ion-item.item.item-complex {
    border-color: #6fb272;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
}

ion-item.item.item-complex:last-child {
    border-bottom:0px;
}

.item-complex .item-content, .item-radio .item-content {
  color: #fff;
}

.item-content:activated {
  background-color: transparent;
}

ion-header-bar.bar-stable.menu-headerbar.bar.bar-header {
    border-color: #b2b2b2;
    background-color: #4d9a50;
    height: 100px;
}

.bar .title {
  bottom: 0px;
  color: #fff;
}

h1.title.menu-title {
  color: #fff !important;
  height: auto;
  font-weight: 300;
  font-size: 2em;
  top: 40px;
}

.client-list {
  margin-bottom: 15px;
}

.float-left {
  float: left;
}

.client-link {
  color: #696969;
}

.client-sort {
  height: 50px;
  padding: 0px;
}

.client-detail {
  width: 80%;
  display: inline-block;
  padding-left: 15px;
  padding-right: 30px;
}

.client-name {
  font-size: 1.1em;
  padding-bottom: 5px;
  display:block;
}

.client-scroll {
    height: 90%;
    display: block;
    position: absolute;
    top: 10%;
}

.client-age, .client-score, .client-agency, .client-assigned {
  font-size: .8em;
  display: block;
}

.clientinfo.container {
  padding-top: 5px;
}

.client-fulllist {
  padding-top: 15px;
}

.clientinfo > a.button {
  word-wrap: normal;
    font-size: .8em;
    text-transform: uppercase;
}

.client-status {
  height: 40px;
  border: 0px;
  background-color: #f8f8f8;
  color: #666;
}

.client-status select option {
    padding: 3px;
    text-align:right;
}

/*---------- .001 General Style ----------*/

body {
  color: #6e6e6e;
}

.button:hover {
  color: #4d9a50;
}

.bar .button.back-button, .bar button.back-button {
  color: #4d9a50;
  padding-left: 5px;
}

.bar .button.button-icon, .bar button.button-icon {
  color: #4d9a50;
  padding-right: 2px;
}

.green-nav {
  background-color: #64bf67;
  color: #fff;
  border-bottom: 1px solid #64bf67;
}

span.back-text {
  font-size: .7em;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: .05em;
  color: #fff;
}

.container {
  padding: 14px;
}

p {
  font-size: .9em;
  color: #989898;
}

.float-right {
  float: right;
}

.background-color-grey {
  background-color: #f9f9f9;
}

/*---------- .002 Login Page ----------*/

.loginwelcome {
  text-align: center;
  font-size: 3em;
width: 100%;
display: block;
padding-bottom: 50px;
color: #fff;
font-weight: 300;
}

.logincon {
  top: 25%;
  display: block;
  position: absolute;
  padding: 70px;
  width: 100%;
}

.loginpage {
  background-color: #64bf67;
}

.login {
  border: 0px;
  background-color: #fff;
  border-radius: 50px;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: #5d5d5d;
}

.login > .input-label {
  color: #5d5d5d;
  padding-bottom: 8px;
}

label.item.item-input.login {
  margin-bottom: 15px;
}

button.button.button-block.login {
  background-color: #0d8d0d;
  color: #fff;
}


/*---------- .004 Home Page ----------*/

.homepage-slider {
  height: 100%;
}

.homepage-slider > .slider {
  height: 100%;
}


.agencyhome {
  height: 100%;
}


.home.datavisual {
  height: 80%;
  display:block;
  padding-bottom: 60px;
}

.home.button-bar {
  height: 10%;
}

.home.button-bar a {
}

.home.createnew {
  width: 100%;
  height: 50%;
  display: table;
  background-color: #64bf7e;
  border-radius: 0px;
  border-bottom: 3px solid #62b265;
}

.home.viewclients {
  width: 33.3%;
  height: 50%;
  display: table;
  background-color: #64bfbe;
  border-radius: 0px;
  float: left;
  font-size: .8em;
}

.home.agencystatus {
  width: 33.3%;
  height: 50%;
  display: table;
  background-color: #64bfbe;
  border-radius: 0px;
  float:left;
    font-size: .8em;
}

.home.datareports {
  width: 33.4%;
  height: 50%;
  display: table;
  background-color: #64bfbe;
  border-radius: 0px;
    font-size: .8em;
    float:left;
}

.button-background {
  display: block;
  height: 100%;
  width:100%;
  background-color: #64bfbe;

}

a.home.center {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 300;
    text-align: center;
}

.home.button-bar > a.button {
  border: 0px;
  line-height: 60px;
  background-color: #4cae4f;
  border-radius: 0px;
  color: #fff;
}

.agency-image {
  height: 200px;
  overflow: hidden;
}

.agency-image2 {
  height: 200px;
  left: -30%;
  position: relative;
}

.agency-buttons2 {
  position: absolute;
  top: 80%;
}

.agency-buttons2 > .home.createnew, .agency-buttons2 > .home.viewclients, .agency-buttons2 > .home.agencystatus {
  height: 50%;
}

.agency-buttons5 {
  position: absolute;
  top: 80%;
}


.hmis-content {
  height: 80%;
}

.hmis.createnew {
  width: 100%;
  height: 10%;
  display: table;
  background-color: #64bf7e;
  border-radius: 0px;
}

.agency-content.scroll-content {
  height: 80%;
}

/*---------- .003 Home Page ----------*/
.home-container {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  height: 100%;
}

.home-header {
  -webkit-flex: 2.5 !important;
  -webkit-align-items: center;
  background-color: #efefef;
}

.home-icons {
  -webkit-align-items: center;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: .04em;
}

.home-container>.row {
  -webkit-flex: 1;
}

.home-buttons {
  -webkit-flex: 1;
}

.home-icons>.text-center>.lnr {
  display: block;
  font-size: 32px;
  padding-bottom: 10px;
}

.row.home-icons {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 0px;
}

.row.home-icons.one {
  padding-top: 25px;
  border-bottom: 1px solid #e3e3e3;
}

.row.home-icons.two {
  border-bottom: 1px solid #e3e3e3;
}

.row.home-icons.three {
  padding-bottom: 25px;
}


/*---------- .003 Profile Page ----------*/

.scroll {
  height: 100%;
}

.profile-container {
  height: 100%;
}

.profile-header {
  height: 30%;
  -webkit-align-items: center;
  background-color: #efefef;
}

.profile-expand {
  position: absolute;
  z-index: 100;
  height: 30px;
  right: 0;
  margin-top: -30px;
  width: 30px;
  background-color: rgba(0, 0, 0, .1);
  border: 0px;
  display: table;
}

.profile-expand>.lnr {
  text-align: center;
  position: relative;
  display: table-cell;
}

.profile-navigation {
  -webkit-align-items: center;
  padding: 0px;
  height: 10%
}

.profile-navigation-bar {
  height: 100%;
}

.profile-navigation-bar>a>span {
  position: relative;
  vertical-align: middle;
  display: table-cell;
}

.profile-navigation-bar>.button:first-child, .profile-navigation-bar>.button, .profile-navigation-bar>.button:last-child {
  border-radius: 0px;
  background-color: #f9f9f9;
  line-height: 0px;
  font-size: 1.5em;
  border-width: 0px 1px 1px 0px;
  display: table;
  width: 20.2%;
  border-color: #e8e8e8;
  height: 100%;
}

.profile-navigation-bar>a.button.activated {
  background-color: #fff;
  border-color: #e8e8e8;
  border-width: 0px 1px 0px 0px;
}

.profile-navigation-bar>.button:after {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content: ' ';
}

.profile-stats {
  -webkit-align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f0;
  padding: 0px;
  color: #bdbdbd;
  font-size: .9em;
  margin-top: 0px !important;
}

.button.button-stable.active, .button.button-stable.activated {
  background-color: #fff;
  border-color: #e8e8e8;
  border-width: 0px 1px 0px 0px;
}

.profile-number {
  display: block;
  font-size: 1.7em;
  font-weight: 600;
  padding-bottom: 3px;
  padding-top: 3px;
  color: #717171;
}

.profile-details>p {
  border-bottom: 1px solid #f1f1f0;
  margin-bottom: 0px;
}

.profile-details>p>.h5 {
  line-height: 30px;
  display: inline-block;
  height: 100%;
  padding-right: 10px;
  border-right: 1px solid #f1f1f0;
  margin: 0px 10px 0px 0px;
}

.profile-slider {
  height: 60%;
}

.profile-slider>.slider {
  height: 100%;
}

.program-button, .program-button.button-icon.icon:before {
  font-size: 23px;
  padding: 0px 0px 0px 5px;
  height: 30px;
  min-height: 20px;
  line-height: 20px;
}

.profile-program-header {
  padding-bottom: 5px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}

.profile-program-list {
  margin-bottom: 15px;
}

.profile-program-list>a.item-content.ng-binding, .profile-program-list>a.item-content {
  white-space: normal;
  padding: 15px;
}

.program-name {
  white-space: normal;
  color: #64bf67;
}

p.program-description {
  white-space: normal;
  padding-top: 5px;
  font-size: .8em;
  color: #989898;
}

.item-delete .button.icon {
  color: #fff;
  font-size: 24px;
  border-radius: 0;
  background-color: #64bf67;
  border: 0;
  padding: 13px;
}

.profile-messages {
  height: 85%;
}

.profile-message-box {
  display: block;
  bottom: 0px;
  height: 15%;
  position: absolute;
  width: 100%;
}

.profile-message-box>.item.item-input-inset {
  height: 100%;
  background-color: #fff;
  padding: 0px;
  border-bottom: 0px;
  border-top: 1px solid #e8e8e8;
  border-left: 0px;
  margin: 0px;
  border-right: 0px;
}

label.item-input-wrapper {
  border-radius: 0px;
  background-color: #fff;
  padding: 0px;
  padding-left: 14px;
}

button.button.button-small {
  height: 100%;
  padding: 14px;
}

.profile-messages-list {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px solid #e8e8e8;
  margin: 0px;
}

.profile-messages-list:first-child {
  border-top: 0px;
}

.profile-messages-list:last-child {
  border-bottom: 0px;
}

.profile-messages-list>a.item-content {
  padding: 20px 15px 20px 15px;
}

p.message-content.ng-binding {
  color: #989898;
  font-size: .9em;
}

.message-date {
  text-transform: uppercase;
  font-size: .7em;
  color: #989898;
}

.message-name {
  font-size: .9em;
  padding-bottom: 3px;
  display: inline-block;
  color: #64bf67;
}


/*---------- .004 Casefiles Page ----------*/

.casefiles-slider {
  height: 100%;
  background-color: #e8e8e8;
}

.casefiles-slider>.slider {
  height: 100%
}

.casefile-search-box {
  display: block;
  height: 10%;
  width: 100%;
}

.casefile-search-box>.item.item-input-inset {
  height: 100%;
  background-color: #e8e8e8;
  padding: 17px 15px 15px 15px;
  border-bottom: 0px;
  border-top: 1px solid #e8e8e8;
  border-left: 0px;
  margin: 0px;
  border-right: 0px;
}

.search-input-wrapper {
  border-radius: 3px 0px 0px 3px;
  background-color: #fff;
  padding: 0px;
  padding-left: 14px;
  padding-top: 3px;
  width: 100%;
  height: 40px;
}

.casefiles-container {
  height: 90%;
  top: 10%;
}

.group-button, .list-button {
  height: 40px;
  border-radius: 0px;
  border: 0px;
  min-height: 40px;
}

.list-button:last-child {
  border-radius: 0px 3px 3px 0px;
}




/* ----------------- NEW CLIENT --------------- */

.newclient {
  padding: 2px;
}

.newclient > .item {
  border-left: 0px;
  border-right: 0px;
  padding-left: 0px;
}

.newclient > .item:first-child {
  border-top: 0px;
}

.noborderbot {
  border-bottom: 0px;
}

.green-button {
  background-color: #64bf67;
  border: 0px;
  padding: 15px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin-right: 5px;
  width: 100%;
  border-radius: 50px;
  padding: 10px;
  margin-top: 20px;
}

.green-button.grey {
  background-color: #7a7a7a;
}






/* --------------- HOME PAGE GRAPHS ------------------- */

.row1.graphs {
  display:block;
  width: 100%;
  height: 230px
}

.row2.graphs {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 50px;
}

.morris-hover.morris-default-style {
    text-align: center;
}

.fullwidth {
  height:200px;
  width: auto;
}

.halfwidth {
  display:inline-block;
  width: 50%;
  height: 230px;
  float: left;
}

.smallergraph {
  width: 80%;
  margin: 0 auto;
  height: 400px;
  top: -50px;
  position: relative;
  margin-bottom: 15px;
}


.agency-half {
  display:inline-block;
  text-align: center;
  width: 50%;
  float: left;
  padding-top:35px;
  padding-bottom: 15px;
}

.data-header {
  font-size: 2.5em;
  display: block;
  padding-bottom: 5px;
}
